footer[_ngcontent-ng-c1137708448] {
  width: 100%;
  background-color: var(--color-azul-oscuro);
}
footer[_ngcontent-ng-c1137708448] .footer-content[_ngcontent-ng-c1137708448] {
  padding: 30px 0;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .footer-img[_ngcontent-ng-c1137708448] {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .footer-img[_ngcontent-ng-c1137708448]
  img[_ngcontent-ng-c1137708448] {
  width: 120px;
  height: 110px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .footer-img[_ngcontent-ng-c1137708448]
  img[_ngcontent-ng-c1137708448]:hover {
  transform: scale(1.4);
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .linea-horizontal[_ngcontent-ng-c1137708448] {
  display: block;
  border-top: 1px solid white;
  margin: 20px auto;
  width: 80%;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .footer-titulo[_ngcontent-ng-c1137708448] {
  font-size: 2.5rem;
  color: var(--color-blanco);
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .enlaces-web[_ngcontent-ng-c1137708448] {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .enlaces-web[_ngcontent-ng-c1137708448]
  a[_ngcontent-ng-c1137708448] {
  color: var(--color-naranja);
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .enlaces-web[_ngcontent-ng-c1137708448]
  a[_ngcontent-ng-c1137708448]:hover {
  color: #fff;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448]
  .redes-sociales[_ngcontent-ng-c1137708448] {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448]
  .redes-sociales[_ngcontent-ng-c1137708448]
  a[_ngcontent-ng-c1137708448] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  fill: #fff;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.55s;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448]
  .redes-sociales[_ngcontent-ng-c1137708448]
  a[_ngcontent-ng-c1137708448]:hover {
  background-color: #fff;
  fill: #000;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448]
  .redes-sociales[_ngcontent-ng-c1137708448]
  a[_ngcontent-ng-c1137708448]
  svg[_ngcontent-ng-c1137708448] {
  width: 30px;
}
footer[_ngcontent-ng-c1137708448]
  .footer-content[_ngcontent-ng-c1137708448]
  .redesblock[_ngcontent-ng-c1137708448]
  .contactanos[_ngcontent-ng-c1137708448] {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 20px black;
  text-align: center;
  padding: 15px 0 0;
  overflow: hidden;
}
footer[_ngcontent-ng-c1137708448] .derechos[_ngcontent-ng-c1137708448] {
  background-color: var(--color-negro);
}
footer[_ngcontent-ng-c1137708448]
  .derechos[_ngcontent-ng-c1137708448]
  .derechos-texto[_ngcontent-ng-c1137708448] {
  font-size: 1rem;
  color: var(--color-blanco);
}
